# ==========================
# Environment
# ==========================
.env
.env.*
!.env.example

# ==========================
# Logs
# ==========================
*.log
logs/

# ==========================
# Dependencies
# ==========================
node_modules/

# ==========================
# Build Output
# ==========================
dist/
build/
coverage/

# ==========================
# IDEs
# ==========================
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json.example

.idea/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Temporary
# ==========================
*.tmp
*.swp
*.swo